@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');
body {
    font-family: 'Roboto Mono', monospace;
    background-color: rgb(45, 41, 32);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#game-container {
    width: 80%;
    max-width: 600px;
    margin: auto;
    background: rgb(254, 228, 179);
    padding: 20px;
    box-shadow:   -10px 0 0 0 #fcc480,
                 10px 0 0 0 #fcc480,
                 0 -10px 0 0 #fcc480,
                 0 10px 0 0 #fcc480;
}

#story-section {
    margin-bottom: 20px;

}

.start-button {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    background-color: #5e7f2e !important;
    width: 25%;
    padding: 8px 4px !important;
    color: white;
    border: none;
    box-shadow:   -3px 0 0 0 #415720,
                 3px 0 0 0 #415720,
                 0 -3px 0 0 #415720,
                 0 3px 0 0 #415720 !important;
}

.character-select-button {
    font-family: 'Roboto', monospace;
    font-weight: 700;
    letter-spacing: 0.025em;
    font-size: 12px;
    padding: 8px;
    margin: 10px;
    background-color: #fcc480;
    color: #4c2a00;
    border: none;
    box-shadow:   -3px 0 0 0 #ba792a,
                 3px 0 0 0 #ba792a,
                 0 -3px 0 0 #ba792a,
                 0 3px 0 0 #ba792a;
    cursor: pointer;
}

.character-select-button:active {

    background-color: transparent;
    transform: scale(.90);
    border: none;
    box-shadow:   -3px 0 0 0 #ba792a,
                 3px 0 0 0 #ba792a,
                 0 -3px 0 0 #ba792a,
                 0 3px 0 0 #ba792a;
    cursor: pointer;
}

.character-select-button:hover {
    background-color: transparent;
    transition-duration: 0.5s;
}

#image-section {
    text-align: center;
    margin-top: 20px;
}

.all-characters-container {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.character-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.character-image {
border-radius: 1px;
}

.option-button {
    font-family: 'Roboto Mono', monospace;
    color: #4c2a00;
    cursor: pointer;
    margin: 1em 0em;
    display: block; 
    background-color: transparent;
    border: none;
}

.option-button:hover {
    transform: scale(1.05);
    transition-duration: 0.5s;
    text-decoration: none;
}

.continue-button {
    font-family: 'Roboto Mono', monospace;
    font-size: 12px;
    background-color: #5e7f2e !important;
    width: 25%;
    padding: 8px 4px !important;
    color: white;
    border: none;
    box-shadow:   -3px 0 0 0 #415720,
                 3px 0 0 0 #415720,
                 0 -3px 0 0 #415720,
                 0 3px 0 0 #415720 !important;
}